main section .anime-list-wrapper {
  position: relative;
  overflow-x: scroll;
  overflow-y: visible;
  scroll-snap-type: x mandatory;
  /* disable if drag n scroll is enabled */
  scroll-behavior: smooth;
}

main section .anime-list {
  float: left;
  width: max-content;
  gap: 25px;
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
  z-index: 2;
}

main section .anime-empty {
  color: var(--font-3);
  font-weight: var(--font-weight);
  padding-bottom: 10px;
}
